* {
    box-sizing: border-box;
    border-color: green;
    border-style: solid;
    border-width: 0.1px;
}

body {
    height: 1000px;
    margin: 0px;
}

#sideNavigator {
    list-style: none;
    padding: 0px 0px 0px 5px;
    margin: 0px;
}

#secondaryContainer {
    display: inline-block;
    width: 26%;
    height: auto;
    margin: 40px;
    padding: 10px 5px;
}

#mainContainer {
    float: right;
    width: 60%;
    height: auto;
    margin: 40px;
    padding: 10px 5px;
}

nav {
    background-color: rgb(0, 153, 255);
    height: 60px;
}

p {
    margin: 0px;
}