* {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-color: green;
    border-style: solid;
    border-width: 0.1px;
}

body {
    height: 1000px;
    margin: 0px;
    background-color: rgb(0, 40, 66);
}

nav {
    height: 60px;
    text-align: right;
    align-content: center;
}

nav a {
    background-color: inherit;  /*inherits lightblue from nav*/
    font-size: 25px;
    font-weight: 700;
    margin-right: 20px;
}

p {
    margin: 0px;
}

div h3 {
    text-align: center;
}

.selectedOptionNav {
    text-decoration: none;
    color: rgb(33, 145, 236);
}

.unselectedOptionNav {
    text-decoration: none;
    color: rgb(0, 40, 66);;
}

.normalFontHyperLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.customizedLightBlueBG {
    background-color: rgb(117, 200, 255);
}

#sideNavigator {
    list-style: none;
    padding: 0px 0px 0px 5px;
    margin: 0px;
}

#secondaryContainer {
    display: inline-block;
    width: 26%;
    height: auto;
    margin: 50px 40px 40px 40px;
    padding: 10px 5px;
}

#mainContainer {
    float: right;
    width: 60%;
    height: auto;
    margin: 0px 40px 40px 40px;
    padding: 50px 5px;
}