* {
    background-color: rgb(0, 153, 255);
    box-sizing: border-box;
    border-color: green;
    border-style: solid;
    border-width: 0.1px;
    margin: 0px;
}

div {
    background-color: white;
}

nav {
    background-color: rgb(0, 153, 255);
}